version: "3"
services:
  podobank:
    image: podobank:latest
    build:
      context: ../Podo_Bank/backend
      dockerfile: Dockerfile.Podo_back
    ports:
      - "9000:9000"
    environment:
      - SPRING_REDIS_HOST=redis
    depends_on:
      - redis
#  dotori_back:
#    image: dotori_back:latest
#    build:
#      context: ../Dotori/backend/Dotori
#      dockerfile: Dockerfile.Dotori_back
#    environment:
#      - SPRING_REDIS_HOST=redis
#    ports:
#      - "9100:9100"
#    depends_on:
#      - redis

  redis:
    image: redis:latest
    ports:
      - "9050:6379"
    volumes:
      - /etc/redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]

  #redis_dotori:
  #  image: redis_dotori:latest
  # ports:
  # -"9150:6379"